@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('../src/assets/fonts/fonts.css');  


body {
  font-family: 'Open Sans', Regular;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.app {
  display: flex;
}
