.app {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card-overview {
  margin-bottom: 20px;
}

.recent-transactions {
}
